@font-face {
  font-family: 'Raleway'; 
  src: url('Raleway-Regular.ttf');
  font-weight: normal; 
  font-style: normal;                  
}
@font-face {
  font-family: 'Raleway-Bold';
  src: url('Raleway-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway-ExtraBold';
  src: url('Raleway-ExtraBold.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway-Black';
  src: url('Raleway-Black.ttf');
  font-weight: normal; 
  font-style: normal;
}


body {
    font-family: 'Raleway', sans-serif;
    text-align: left;
    color: gray;
    margin: 0em;
}

h1 {
  font-family: 'Raleway-ExtraBold';
  letter-spacing: 0.1em;
  color: black;
}

h3 {
  font-weight: 550;
  color: black;
}

.navbar {
    overflow: hidden;
    background-color:white; 
    margin: 0em;
    font-size: 1.4em;
    font-family: 'Raleway-Bold';
    position: sticky;
    top: 0;
  }
  
  .barry-logo {
    display: block;
    float: left;
    clear: left;
    width: 9em;
    height: 1.8em;
    padding: 0em 0em 0em 0.4em; 
  }

  .navbar a {
    float: left;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 1em 1em;
  }

  .navbar-logo:hover {
    background-color: transparent; 
  }
  
  .navbar a:hover {
    background-color: transparent;
    color: darkgrey;
  }

  .navbar a.active {
    background-color: transparent; 
    color: black;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }

.studioinfoone {
  display: block;
  float: left;
  clear: left;
  column-gap: 2em;
  width: 40%;
  padding: 2em 0em 2em 4em;
  line-height: 90%;
  height: auto;
}

.studioinfotwo {
  display: block;
  float: right;
  clear: right;
  width: 60%;
  padding: 2em 2em 2em 0em;
  height: auto;
}  


* {box-sizing:border-box}

.slideshow-container {
  max-width: 1000px;
  max-height: 700px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top:125%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}